In [15]:
import pandas as pd
import json
import pprint

In [18]:
df = pd.read_csv('moviesmod1.csv')
df

                                       movie_title  views  item_id
0                                          Avatar     898        0
1        Pirates of the Caribbean: At World's End    2813        1
2                                         Spectre    1494        2
3                           The Dark Knight Rises    4614        3
4                                     John Carter     171        4
5                                    Spider-Man 3    1619        5
6                                         Tangled    3212        6
7                         Avengers: Age of Ultron     194        7
8          Harry Potter and the Half-Blood Prince    3840        8
9              Batman v Superman: Dawn of Justice    4276        9
10                               Superman Returns    3668       10
11                              Quantum of Solace    2854       11
12     Pirates of the Caribbean: Dead Man's Chest    2179       12
13                                The Lone Ranger    4560       13
14                                   Man of Steel    2270       14
15       The Chronicles of Narnia: Prince Caspian     229       15
16                                   The Avengers    3687       16
17    Pirates of the Caribbean: On Stranger Tides    3262       17
18                                 Men in Black 3     719       18
19      The Hobbit: The Battle of the Five Armies    3928       19
20                         The Amazing Spider-Man    3293       20
21                                     Robin Hood    4292       21
22            The Hobbit: The Desolation of Smaug    3111       22
23                             The Golden Compass    3947       23
24                                      King Kong    3522       24
25                                        Titanic    2445       25
26                     Captain America: Civil War    1361       26
27                                     Battleship    3823       27
28                                 Jurassic World     509       28
29                                        Skyfall    1408       29
...                                            ...    ...      ...
3726                                      Tadpole    3346     3726
3727                                         Once    2368     3727
3728                                The Horse Boy    1617     3728
3729                 The Texas Chain Saw Massacre    4302     3729
3730                                   Roger & Me     759     3730
3731                            Facing the Giants    2830     3731
3732                                  The Gallows    2768     3732
3733                            Hollywood Shuffle    4461     3733
3734                 The Lost Skeleton of Cadavra     714     3734
3735                                Cheap Thrills    4001     3735
3736                   The Last House on the Left    4469     3736
3737                                           Pi     754     3737
3738                                     20 Dates    2778     3738
3739                                Super Size Me    2995     3739
3740                                       The FP    2697     3740
3741                              Happy Christmas    2853     3741
3742                        The Brothers McMullen     342     3742
3743                               Tiny Furniture     341     3743
3744                            George Washington    4797     3744
3745                  Smiling Fish & Goat on Fire    2891     3745
3746                                       Clerks    4015     3746
3747                        In the Company of Men    1211     3747
3748                                     Sabotage    3319     3748
3749                                      Slacker    3913     3749
3750                               Pink Flamingos    3648     3750
3751                                        Clean    2852     3751
3752                                   The Circle     244     3752
3753                                       Primer    4730     3753
3754                                  El Mariachi    4512     3754
3755                            My Date with Drew    1420     3755

[3756 rows x 3 columns]